.auth-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 70px;
}

.auth-card {
    background: #f1f1f1;;
    border: 1px solid #F4F8FF;
    padding: 30px;
    width: 100%;
    border-radius: 10px;
    max-width: 440px;
    border: 1px solid #DEEAFF;
}

.auth-title {
    font-size: 25px;
    font-family: 'Poppins';
    font-weight: 600;
    margin-bottom: 25px;
}

.form-footer {
    display: flex;
    justify-content: space-between;
}

.btn-main {
    margin-top: 16px;
}

.submit-btn {
    width: 100%;
    padding: 19px;
    font-family: 'Poppins';
    font-weight: 600;
    border-radius: 19px;
    background: #0059f7
}

.auth-card-footer{
    margin-top: 16px;
}

.auth-card-footer span {
    display: flex;
    justify-content: center;
    gap: 5px;
}