.otp-form-title {
    font-size: 25px;
    font-family: 'Poppins';
    font-weight: 600;
    margin-bottom: 9px;
}

.otp-form-header {
    margin-bottom: 36px;
}

.countdown-timer {
    margin-top: 16px;
    text-align: center;
}

.otp-input {
    width: 32px;
    height: 40px;
    border: 1px solid #6E8CFB;
    background: aquamarine;
    border-radius: 8px;
    transition: box-shadow 0.2s ease;
}

.otp-input .ant-input:hover {
    border-color: #d9d9d9;
}

.otp-input .ant-input:focus,
.otp-input .ant-input-focused {
    border-color: #6E8CFB;
    box-shadow: 0 0 0 4px rgba(110, 140, 251, 0.3);
}

.form-description {
    font-family: 'Poppins';
    font-weight: 500;
    display: flex;
    gap: 6px;
    justify-content: center;
}

.verification-footer {
    display: flex;
    gap: 14px;
    flex-direction: column;
    margin-top: 40px;
}

.verify-otp-btn {
    width: 100%;
    padding: 19px;
    font-family: 'Poppins';
    font-weight: 600;
    border-radius: 19px;
    background: #060708;
    color: white;
}