    .todo-app-container {
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .todo-card {
        padding: 20px;
        background: white;
        border-radius: 10px;
        height: auto;
        width: 100%;
        max-width: 540px;
        border: 1px solid #DEEAFF;
        box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.1);
    }

    .todo-title {
        display: flex;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 20px;
        color: #002765;
    }

    .todo-icon {
        width: 30px;
        margin-left: 10px;
    }

    .add-task-btn {
        outline: none !important;
        border: none !important;
        background: #ff9945;
        padding: 16px 50px;
        color: white;
        border-radius: 40px;
    }

    .input-group {
        justify-content: space-between;
        width: 100%;
        display: flex;
        align-items: center;
        background: #f3f5f7;
        border-radius: 50px;
        padding: 3px;
        gap: 10px;
        border: none;
    }

    .add-task-input {
        flex: 1;
        border: none !important;
        outline: none !important;
        background: transparent !important;
        box-shadow: none !important;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        padding-left: 15px;
        height: 45px;
    }

    .add-task-input:hover,
    .add-task-input:focus {
        border: none !important;
        box-shadow: none !important;
    }

    .add-task-btn {
        min-width: 110px;
        height: 45px;
        border: none !important;
        border-radius: 40px !important;
        background: #ff7a1a !important;
        color: white !important;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        padding: 0 25px !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .add-task-btn:hover {
        background: #ff6600 !important;
    }

    .todo-form{
        width: 100%;
    }