.resend-email-btn {
    width: 100%;
    border-radius: 31px;
    color: white;
    height: 43px;
    font-family: 'Poppins';
    font-weight: 500;
    background: #0059f7
}

.resend-email-btn:hover {
    background: #0059f7 !important;
}

.forgot-password-card-footer {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-top: 38px;
}

.resend-email-btn-black {
    width: 100%;
    border-radius: 31px;
    color: white;
    height: 42px;
    font-family: 'Poppins';
    font-weight: 500;
    background: #0f0303;
    height: 42px;
}

.resend-email-btn-black:hover {
    background: #0f0303 !important;
}